@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap')

body 


  background-color: #0f0e17

  font-family: "Montserrat", sans-serif


.aplication
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  height: 80vh
  width: 100vw

#title
  display: flex
  justify-content: center
  align-items: center

  color: #fffffe
  font-size: 1.5rem
  font-style: normal

#app-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border: 10px #ff8906
   

  #app
    height: 300px
    width:  600px
    
    background-color: #ff8906
    border-color: #ff8906
    border: solid 5px #ff8906
    border-radius: 4px


#controls-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  margin: 10px


  #controls
    display: flex
    flex-direction: row
    justify-content: space-evenly
    width: 600px

  .btn 
    all: unset
    width: 35px
    cursor: pointer

    img
      width: 100%
      height: 100%
 
    